@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Arimo:ital,wght@1,500&family=Edu+SA+Beginner:wght@400;500&family=Merienda+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.masthead {
    
    background-image: url(images/home-bg.jpg);
    background-size: cover;
    
   
    height: 100vh;
    background-position: center;

}

.fh {
    font-family: 'Merienda One', cursive;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 13vh;
}

.icon-clr {
    height: 60px;
    width: 60px;
    color: white;
    background-color: #be9c79;
    border-radius: 50%;
    padding: 13px;
}

span {
    color: #be9c79;
}

form {
    
    border:.2rem solid #000000;
    padding: 2rem;
    
}
/* @media screen and (min-width:0px) 
{
    footer
    {
      background-color: aqua;
    }
}
@media screen and (min-width:571px) 
{
    footer
    {
      background-color: rgb(20, 22, 22);
    }
}
@media screen and (min-width:769px) 
{
    footer
    {
      background-color: rgb(255, 0, 221);
    }
}
@media screen and (min-width:993px)
{
    footer
    {
      background-color: rgb(255, 0, 0);
    }
}
@media screen and (min-width:1201px)
{
    footer
    {
      background-color: rgb(245, 188, 188);
    }
} */